[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "dotfiles/config/nvim"]
	path = dotfiles/config/nvim
	url = git@github.com:theory-of-everything/nii-nvim.git
